In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('fifa_world_cup.db')

In [ ]:
# Query 1: Top 5 Países con más victorias de local
query_top = """
SELECT 
    equipo_local as Pais, 
    COUNT(*) as Partidos_Jugados, 
    SUM(gana_local) as Victorias_Local
FROM fact_partidos
GROUP BY equipo_local
ORDER BY Victorias_Local DESC
LIMIT 5;
"""

print("\n TOP 5: Reyes de la Localía")
df_top = pd.read_sql(query_top, conn)
display(df_top)

 TOP 5 Reyes de la Localía

           Pais  Partidos_Jugados  Victorias_Local
0        Brazil                86               66
1     Argentina                63               46
2         Italy                56               37
3  West Germany                39               31
4        France                37               26

In [3]:
# Query 2: Promedio de goles por partido en cada mundial
query_goles = """
SELECT 
    torneo,
    ROUND(AVG(goles_local + goles_visitante), 2) as Promedio_Goles_Partido
FROM fact_partidos
GROUP BY torneo
ORDER BY Promedio_Goles_Partido DESC
LIMIT 5;
"""

print("\n TOP 5: Mundiales más emocionantes (Goles/Partido)")
df_goles = pd.read_sql(query_goles, conn)
display(df_goles)

 TOP 5: Mundiales más emocionantes (Goles/Partido)

                torneo  Promedio_Goles_Partido
0  1954 FIFA World Cup                    5.38
1  1938 FIFA World Cup                    4.67
2  1934 FIFA World Cup                    4.12
3  1950 FIFA World Cup                    4.00
4  1930 FIFA World Cup                    3.89

In [4]:
conn.close()